---
title: Le Wagon - Middleman
---
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://kitt.lewagon.com/placeholder/cities/berlin');">
  <div class="banner-content">
    <div id="home">
      <div class="home-content">
        <%= image_tag "logo.png", width: "200" %>
        <p>
          Middleman is now running!
        </p>
        <p class="about">
          <%= link_to "More about this template", "about.html" %>
        </p>
        <p class="about">
          <%= link_to "Team", "team.html" %>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://www.oui.sncf/sites/default/files/imagecache/hermes-580x440/files/voyazine_article/img/2016_08_08/rennes_580.jpg');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <h2>Le Wagon Rennes</h2>
    <p>Very cool city, the best. Coming soon</p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/PierreLanoe">
  <a class="card-link" href="#" ></a>
</div>
